In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [2]:
# Fetch data with pandas
path = 'C:/Users/topol/NIthec workshop/python-novice-inflammation-data/data/'
df = pd.read_csv(path + 'inflammation-01.csv')

df.head()

,0,0.1,1,3,1.1,2,4,7,8,3.1,...,4.3,4.4,5.1,7.6,3.4,4.5,2.1,3.5,0.2,0.3
0,0,1,2,1,2,1,3,2,2,6,...,3,5,4,4,5,5,1,1,0,1
1,0,1,1,3,3,2,6,2,5,9,...,10,5,4,2,2,3,2,2,1,1
2,0,0,2,0,4,2,2,1,6,7,...,3,5,6,3,3,4,2,3,2,1
3,0,1,1,3,3,1,3,5,2,4,...,9,6,3,2,2,4,2,0,1,1
4,0,0,1,2,2,4,2,1,6,4,...,8,4,7,3,5,4,4,3,2,1

In [3]:
# numpy load
df_numpy = np.loadtxt(path + 'inflammation-01.csv', delimiter= ',')

df_numpy

array([[0., 0., 1., ..., 3., 0., 0.],
       [0., 1., 2., ..., 1., 0., 1.],
       [0., 1., 1., ..., 2., 1., 1.],
       ...,
       [0., 1., 1., ..., 1., 1., 1.],
       [0., 0., 0., ..., 0., 2., 0.],
       [0., 0., 1., ..., 1., 1., 0.]])

#### Data type

In [4]:
df.dtypes

0       int64
0.1     int64
1       int64
3       int64
1.1     int64
2       int64
4       int64
7       int64
8       int64
3.1     int64
3.2     int64
3.3     int64
10      int64
5       int64
7.1     int64
4.1     int64
7.2     int64
7.3     int64
12      int64
18      int64
6       int64
13      int64
11      int64
11.1    int64
7.4     int64
7.5     int64
4.2     int64
6.1     int64
8.1     int64
8.2     int64
4.3     int64
4.4     int64
5.1     int64
7.6     int64
3.4     int64
4.5     int64
2.1     int64
3.5     int64
0.2     int64
0.3     int64
dtype: object

In [5]:
# type of data
type(df_numpy)

numpy.ndarray

#### Shape of data

In [6]:
df.shape

(59, 40)

In [7]:
# data shape
df_numpy.shape

(60, 40)

#### to get the valu from data using index, (eg) - [b,a] a are the columns and b are the rows

In [8]:
# slicing
df_numpy[0:4, 0:10]

array([[0., 0., 1., 3., 1., 2., 4., 7., 8., 3.],
       [0., 1., 2., 1., 2., 1., 3., 2., 2., 6.],
       [0., 1., 1., 3., 3., 2., 6., 2., 5., 9.],
       [0., 0., 2., 0., 4., 2., 2., 1., 6., 7.]])

#### Statistics

#### 1. Mean, Max, Std

In [9]:
mean, max, std = df_numpy.mean(), df_numpy.max(), df_numpy.std()

print(f'Mean = {mean}\nMax = {max}\nstd = {std}')

Mean = 6.14875
Max = 20.0
std = 4.613833197118566

####

#### One patient at the time

In [10]:
patient_0 = df_numpy[0,:]      # first row[0] and everything follows
print(patient_0)

[ 0.  0.  1.  3.  1.  2.  4.  7.  8.  3.  3.  3. 10.  5.  7.  4.  7.  7.
 12. 18.  6. 13. 11. 11.  7.  7.  4.  6.  8.  8.  4.  4.  5.  7.  3.  4.
  2.  3.  0.  0.]

In [11]:
np.amax(patient_0)

# or we can use
print(f'Max inflammation for patient_0 is {np.max(df_numpy[0,])}')

Max inflammation for patient_0 is 18.0

In [12]:
print(np.mean(df_numpy, axis= 0))     # axis = 0 means the rows and axis = 1 means the columns

[ 0.          0.45        1.11666667  1.75        2.43333333  3.15
  3.8         3.88333333  5.23333333  5.51666667  5.95        5.9
  8.35        7.73333333  8.36666667  9.5         9.58333333 10.63333333
 11.56666667 12.35       13.25       11.96666667 11.03333333 10.16666667
 10.          8.66666667  9.15        7.25        7.33333333  6.58333333
  6.06666667  5.95        5.11666667  3.6         3.3         3.56666667
  2.48333333  1.5         1.13333333  0.56666667]